/************************************
*main css file for portfolio website*
*created Phil Jakes                 *
*on March 2021                      *
************************************/
body {
    font-size: 16px;
    letter-spacing:0.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    background-color: #29565e;
    height: 50px;
    line-height:50px;
    color: #ffffff;   
}
    
header {
    background-color: #33691e;
    font-family: "open sans",sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    font-style: italic;
}

a {
    color:#cad1d6;
    text-decoration:none;
}

a:hover{
    color:brown;
}

main{
    background:#fff url("/portfolio/images/OIP\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: 100%;


}

footer {
    background-color: #629749;
}

footer ul li{
    list-style-type: none;
}

footer p{
    text-align:center;
}